*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  height: calc(100dvh - (2 * 56px));
  margin: 56px;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: clamp(1em, 1em + 1vw, 3em);
  text-align: center;
  color: #75b79e;

  background-color: #eef9bf;
}

header {
  position: sticky;
}

main {
  width: 100%;
  max-width: 768px;
  margin: 32px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  height: 200px;
  margin: 16px;

  position: relative;

  display: flex;
  flex: 0 0 132px;

  transition: scale 300ms ease;
}

.card:hover {
  cursor: pointer;
  scale: 1.1;
  filter: drop-shadow(0 0 12px #a8a8a8);
}

.face {
  width: 100%;
  height: 100%;

  position: absolute;
  backface-visibility: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #a7e9af;
  border-radius: 8px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);

  transition: all 500ms;
  transform-style: preserve-3d;
}

.back-face {
  transform: rotateY(180deg);
}

@media (max-width: 768px) {
  body {
    margin: 16px;
  }

  header {
    margin: 0;
  }
}
